* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


html {
  background-color: #fff;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  margin: 0 auto;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}



h1, h2, h3 {
  margin-bottom: 0.5em;
}

.title {
  text-transform: uppercase;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.gray {
  background-color: #f0f0f0;
}

.red {
  background-color: #f53843;
}

.orange {
  background-color: #f7bb3f;
}

.yellow {
  background-color: #fdea58;
}

.green {
  background-color: #4bee4d;
}

.blue {
  background-color: #7cd3ff;
}

.purple {
  background-color: #d75cfe;
}

.pink {
  background-color: #fed8ff;
}

.rainbow {
  background-image: url(../assets/icons/rainbow.png);
  background-position: center;
}

/* Navbar */
.navbar {
  position: fixed;
  background-color: #fff;
  height: 70px;
  width: 100%;
  padding: 0 50px;
  top: 0;
  left: 0;
  z-index: 99;
  transition: transform 0.4s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transform: translateY(0);
}

.logo-container {
  position: relative;
  height: 100%;
  width: min-content;
  display: flex;
  flex: 1;
  align-items: center;
}

.logo-container a {
  width: 200px;
}

/* .logo {
  height: auto;
} */

/* Footer  */

.footer {
  width: 100%;
}

.footer-logo {
  position: absolute;
  bottom: -3em;
  height: 10em;
  width: 100%;
  /* background-image: url(../assets/icons/logoFooter.png); */
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  z-index: -99;
}

.footer-bottom {
  position: relative;
  width: 100%;
  bottom: 35px;
  padding-right: 3%;
  text-align: right;
  font-family: "Montserrat";
  font-size: 0.9em;
  font-weight: 700;
  z-index: 3;
}

.footer-bottom ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer-bottom li {
  cursor: pointer;
}

.t-link {
  position: relative;
  display: inline-block;
  text-decoration: none; 
  padding-bottom: 3px  
}

.t-link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #009be6;
  background-color: #009be6;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

.t-link:hover::before {
  transform: scaleX(1);
}

.footer-bottom span{
  color: #009be6;
}

.github-icon {
  background: url(../assets/icons/github.png);
  background-size: contain;
  width: 1.2em;
  height: 1.2em;
  display: block;
}

/* Privary Policy */

.privacy-policy hr {
  margin-bottom: 1em;
}

.privacy-policy h3 {
  margin-bottom: 0.5em;
}

.privacy-policy p {
  margin-bottom: 1em;
}

button {
  border-radius: 30px;
  cursor: pointer;
  /* transition: border-radius 1s ease-in-out; */
}

button:hover {
  border-radius: 10px;
}

/* Media Queries for responsive design */
@media only screen and (max-width: 480px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-container {
    object-fit: contain;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-logo{
    bottom: -1em;
    height: 5em;
  }
}
