* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

h2 {
  margin-bottom: 0.5em;
}

.title {
  text-transform: uppercase;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.gray {
  background-color: #f0f0f0;
}

.red {
  background-color: #f53843;
}

.orange {
  background-color: #f7bb3f;
}

.yellow {
  background-color: #fdea58;
}

.green {
  background-color: #4bee4d;
}

.blue {
  background-color: #7cd3ff;
}

.purple {
  background-color: #d75cfe;
}

.pink {
  background-color: #fed8ff;
}

.rainbow {
  background-image: url(../assets/icons/rainbow.png);
  background-position: center;
}
